@import url("https://overpass-30e2.kxcdn.com/overpass.css");
body{
	// font-family:'Sulphur Point';
	font-family:'overpass';
font-weight:800;
}

// @font-face {
// 	font-family: 'Sulphur Point';
// 	font-style: normal;
// 	font-weight:400m;
// 	src: local('Sulphur Point'),local('Sulphur Point'),url('assets/fonts/SulphurPoint-Regular.ttf') format('truetype');
// }

@font-face {
	font-family: 'Hanley Pro Slim';
	font-style: normal;
	font-weight:400m;
	src: local('Hanley Pro Slim'),local('Hanley Pro Slim'),url('assets/fonts/Hanley-Pro-Slim.otf') format('truetype');
}

/*
    ____  __  ____    __  ______       ____ _    ____________      ________
   / __ )/ / / / /   /  |/  /   |     / __ \ |  / / ____/ __ \____/  _/ __ \___
  / __  / / / / /   / /|_/ / /| |    / / / / | / / __/ / /_/ / ___/ // / / / _ \
 / /_/ / /_/ / /___/ /  / / ___ |   / /_/ /| |/ / /___/ _, _/ / _/ // /_/ /  __/
/_____/\____/_____/_/  /_/_/  |_|   \____/ |___/_____/_/ |_/_/ /___/_____/\___/
*/

$turquoise: rgba(111, 26, 7, 1);
$blue: rgba(111, 26, 7, 1);
$panel-shadow: 0 2.5em 4em -0.125em rgba(111, 26, 7, 1), 0 0px 0 1px rgba(111, 26, 7, 1);

/* SCSS RGB */
$army-green: rgba(75, 83, 32, 1);
$persimmon: rgba(236, 88, 0, 1);
$dark-sienna: rgba(51, 15, 10, 1);
$flax: rgba(239, 221, 141, 1);
$lemon-yellow-crayola: rgba(244, 253, 175, 1);
$naples-yellow:#F8E16C;
$off-white:rgb(233,233,233);
$ebl-grey:rgb(170, 177, 187);
$celadon-blue: rgba(36, 123, 160, 1);
$sky-blue-crayola: rgba(120, 227, 253, 1);
$barn-red: rgba(111, 26, 7, 1);
$flickr-pink:#F72585;
$proposed:$celadon-blue;
$charcoal:rgba(40, 41, 34,.88);

$appBrandPrimary:$army-green;
$appBrandHighlightPrimary:$persimmon;
$appBrandSecondary:$dark-sienna;
$appBright:$naples-yellow;
$appWhite:$off-white;
$appBrandTertiary:$celadon-blue;
$appBrandHighlightSecondary:$sky-blue-crayola;
$appError:$barn-red;
$appDark:$charcoal;


::selection {
  background: $appBrandHighlightPrimary; /* WebKit/Blink Browsers */
  color:$appWhite;
}
::-moz-selection {
  background: $appBrandHighlightPrimary; /* Gecko Browsers */
  color:$appWhite;
}

#streetPlateParent {
  display: block;
  // width: 450px;
  // height: 100px;
  background-color: #FFF;
  border-radius: 10px;
  padding:2px 2px 1px;
  line-height:1.1;
  vertical-align: middle;
}
  
#streetPlateContentWrapper {
  text-align: center;
border: 3px solid;
  color: #000000;
  border-radius:10px;
  font-family: "Hanley Pro Slim";
  font-size: 3em;
  font-weight: 800;
}




a.street{
	.on{
		color:$appBrandTertiary;
	}
	color:$appDark;
	&:hover{
		color:darken($appDark,62%);
	}
}

#ebl-isoRide-wrapper{
	min-height:4vh;
	max-height:4vh;
color:$appBrandTertiary;
}

.app-faux-target{
color:$appBrandTertiary;
&:hover{
	color:darken($appBrandTertiary,20%);cursor:pointer;
}
}

.ebl-is-disabled{
	cursor: not-allowed;
}
.ebl-bt-trackmenu{
	&:hover{cursor:pointer;color:$appBrandTertiary;}
}
.ebl-bt-trackmenu-on{
	color:$appBrandTertiary;
	&:hover{cursor:pointer;color:$appDark;}
}

.ebl-generic-on{
	color:$appBrandHighlightPrimary;
}
.ebl-generic-off{
	color:$appWhite;
}

.ebl-filter-warning{
	color:$appBrandHighlightPrimary;
}

#ebl-brand{
	background-color:$appBrandPrimary;
	font-weight:800;
	font-size:2em;
	color:$appWhite;width:100%;
}

a{
	color:$appBrandHighlightPrimary;
	&:hover{color:darken($appBrandHighlightPrimary,12%);}
}

#ebl-dashboard-wrapper{
	background-color:rgba($appWhite,.9);
	width:100%;
}
#ebl-dashboard-wrapper-splayed
{
	background-color:rgba($appWhite,.9);

}

.ebl-dash-heading{
	font-size:.8em;
	color:$appWhite;

	a.navbar-item{
		&:hover{
			color:darken($appWhite,22%);
			background-color:rgba(55,5,5,0);}
	}
}

.ebl-dash-item{
	color:$appBrandSecondary;
	font-weight:800;
	border-radius:.8em;
	-moz-border-radius:.8em;
	-webkit-border-radius:.8em;
	display:inline-block;
	text-align:center;
}

.has-text-ebl-banner-info{
	color:$appBrandHighlightPrimary;
}
.has-text-ebl-important{
	color:$appWhite;
}
.has-text-ebl-notso-important{
	color:rgba( $appBrandHighlightPrimary, .5 )
}
#trackHistoryPanel{
		color:rgba($appBrandPrimary,.8);
		a{text-decoration: none;}
		a.included{
			color:$appBrandHighlightPrimary;
		}
		// position:fixed;top:10%;
	}

#modal-track-menu{
	width:33%;
	.modal-content{
		width:96%;
	}
	.modal-background{
	background-color:$appWhite;
	// color:$dark-sienna;
	}
	}

#modal-track-iso{
	height:25%;
	.title{color:$appWhite;}
	.modal-content{
		width:96%;
	}
	.modal-background{
	background-color:$appBrandTertiary;
	// color:$dark-sienna;
	}
}

.bt_baseMap{
	cursor:pointer;

	border:1px solid $appDark;
	
	
	&:hover{
		border:2px solid $appWhite;
	}
// .bt_baseMapThumb{height:22px;width:22px;border:1px solid $appPrimary;.active{border:2px solid $appBrandSecondary;}}
}

.bt_baseMap.active{border:3px solid $appBrandHighlightPrimary;}

.ebl-kick{
left:90%;
}

.is-disabled{
color:grey;
cursor:not-allowed;
}

.has-text-danger{
	color:$appError;font-weight:800;
}
.has-text-info{
	color:$appBrandTertiary;
}


.ebl-nav{
&:hover{
	color:$appBrandHighlightPrimary;
}
	color:$barn-red;
}

.ebl-nav.ebl-nav-on
{
	color:$appBrandHighlightPrimary;
	&:hover{color:darken($appBrandHighlightPrimary,12%);}
}

.ebl-nav.is-diabled{
	color:grey;
cursor:not-allowed;
}

.ebl-footer-on
{
	color:$appError;
	&:hover{color:lighten($appError,12%);}
}

.ebl-bg-within{
	background-color:$appBrandPrimary;
	a{color:$appWhite;
		&:hover{color:$appBrandHighlightPrimary;}
	}
}
.ebl-bg-nearing{
	background-color:$appBright;
	a{color:$appWhite;
		&:hover{color:$appBrandHighlightPrimary;}
	}
}
.ebl-bg-without{
	background-color:$appError;
	a{color:$appWhite;
		&:hover{color:$appDark;}
	}
}

#map{
  position:absolute;top:0;height:100%;width:100%;z-index:0;
}
#vap{
	position:relative;top:0;left:0;width:100%;height:100vh;width:100%;
}
#hap{
	position:relative;top:0;left:0;width:100%;height:100vh;width:100%;
}
#vap-copy{
height:80px;
}

#ddebug{
	min-height:10vh;
	z-index:2;
	background-color:$appBrandHighlightPrimary;
	color:$appWhite;
}

#ebl-modal-dropzone{
	.modal-background{
		background-color:$appBright;
		color:$appDark;
	}
}

.ebl-button{
	color:$appBrandHighlightPrimary;
	&:hover{color:darken($appBrandHighlightPrimary,12%);}
}
.ebl-panel{
	width:33%;
	position:relative;
	right:0;
	background-color:$appBright;
	padding:2em 1em;
}

.navbar-item{
	color:$appDark;
}

#konsole-wrapper{
	z-index:5;
	min-height:4vh;
#konsole{
	min-height:4vh;
	background-color:$appDark;
	font-weight:800;
	color:$appWhite;
}
}

.footer{
	z-index: 7;width:100%;bottom:0;left:0;
		position:fixed;
	height:4vh;margin:0;
	#ebl-layers{
		height:4vh;
	}
}

#modal-credits{
	color:$appWhite;font-weight:800;
}


/*    _________    ____  ______
   / ____/   |  / __ \/ ____/
  / /_  / /| | / / / / __/
 / __/ / ___ |/ /_/ / /___
/_/   /_/  |_/_____/_____/
*/

@keyframes fade {
	from {opacity:1;}
	to{opacity:0;}
}

.faded0{
	animation-name: fade;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count:1;
}

.faded12{
	animation-name: fade;
	animation-fill-mode: forwards;
	animation-duration: 12s;
	animation-iteration-count:1;
}

.faded20{
	animation-name: fade;
	animation-fill-mode: forwards;
	animation-duration: 20s;
	animation-iteration-count:1;
}


@import 'assets/fontello/css/fontello.css';
@import 'assets/bulma-tooltip.min.css';