@import url("https://overpass-30e2.kxcdn.com/overpass.css");
body{
	// font-family:'Sulphur Point';
	font-family:'overpass';
font-weight:800;
}

// @font-face {
// 	font-family: 'Sulphur Point';
// 	font-style: normal;
// 	font-weight:400m;
// 	src: local('Sulphur Point'),local('Sulphur Point'),url('assets/fonts/SulphurPoint-Regular.ttf') format('truetype');
// }


/* SCSS RGB */
$army-green: rgba(75, 83, 32, 1);
$persimmon: rgba(236, 88, 0, 1);
$dark-sienna: rgba(51, 15, 10, 1);
$flax: rgba(239, 221, 141, 1);
$lemon-yellow-crayola: rgba(244, 253, 175, 1);
$ebl-white:rgb(233,233,233);
$celadon-blue: rgba(36, 123, 160, 1);
$sky-blue-crayola: rgba(120, 227, 253, 1);
$barn-red: rgba(111, 26, 7, 1);

$proposed:$celadon-blue;



a{
	color:$persimmon;
	&:hover{color:darken($persimmon,12%);}
}

.ebl-kick{
left:90%;
}

.is-disabled{
color:grey;
cursor:not-allowed;
}

.has-text-danger{
	color:$barn-red;font-weight:800;
}
.has-text-info{
	color:$celadon-blue;
}

.ebl-nav-on
{
	color:$persimmon;
	&:hover{color:darken($persimmon,12%);}
}
.ebl-footer-on
{
	color:$dark-sienna;
	&:hover{color:lighten($dark-sienna,12%);}
}

.ebl-bg-within{
	background-color:$army-green;
	a{color:$ebl-white;
		&:hover{color:$persimmon;}
	}
}
.ebl-bg-without{
	background-color:$barn-red;
	a{color:$ebl-white;
		&:hover{color:$ebl-white;}
	}
}

#map{
  position:absolute;top:0;height:100%;width:100%;z-index:0;
}
#vap{
	position:relative;top:0;left:0;width:100%;height:100vh;width:100%;
// height:600pc;width:800px;
// width:640px;height:480px;
}
#vap-copy{
height:80px;
}

#ebl-modal-dropzone{
	.modal-background{
		background-color:$lemon-yellow-crayola;
		color:$dark-sienna;
	}
}

.ebl-button{
	color:$persimmon;
	&:hover{color:darken($persimmon,12%);}
}
.ebl-panel{
	width:33%;
	position:relative;
	right:0;
	background-color:rgba(255,255,255,.8);
	padding:2em 1em;
}

.navbar-item{
	color:$dark-sienna;
}

.footer{
	z-index: 7;width:100%;position:absolute;bottom:0;left:0;
	height:8vh;margin:0;
	#konsole{
		height:4vh;
	}
	#ebl-layers{
		height:4vh;
	}
}

#modal-credits{
	color:white;font-weight:800;
}


/*    _________    ____  ______
   / ____/   |  / __ \/ ____/
  / /_  / /| | / / / / __/
 / __/ / ___ |/ /_/ / /___
/_/   /_/  |_/_____/_____/
*/

@keyframes fade {
	from {opacity:1;}
	to{opacity:0;}
}

.faded0{
	animation-name: fade;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count:1;
}

.faded12{
	animation-name: fade;
	animation-fill-mode: forwards;
	animation-duration: 12s;
	animation-iteration-count:1;
}

.faded20{
	animation-name: fade;
	animation-fill-mode: forwards;
	animation-duration: 20s;
	animation-iteration-count:1;
}

@import 'assets/fontello/css/fontello.css'