
.icon-noun_buffer:before { content: '\e800'; } /* '' */
.icon-noun_incoming:before { content: '\e801'; } /* '' */
.icon-noun_history:before { content: '\e802'; } /* '' */
.icon-noun_proposed:before { content: '\e803'; } /* '' */
.icon-noun_binoculars:before { content: '\e804'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */